@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Poppins', sans-serif;
    
}
.section{
    display: flex;
    justify-content: center;
    width: 100%;
    height: fit-content;
    background-color: #FFEFD5;
}

.container-footer {
    width: 80%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: FFEFD5; */
    padding: 1rem 0;
}

.header-footer {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    gap: 3rem;

}


.logo-address {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.logo-text {
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
    
}

.logo img {
    width: 2.5rem;
    height: auto;
}

.text p {
    color: #9F9F9F;
    font-size: 1rem;
    max-width: 19rem;
}

.information {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    gap: 2rem;
    margin-bottom: 3rem;
}
.footer-nav {
    display: flex;
    justify-content: space-between;
    width: fit-content;
    gap:10rem;
}

.links, .help, .newsletter {
    display: flex;
    flex-direction: column;
    
}
.newsletter{
    max-height: 100%;
    align-self: center;
}

.links p, .help p, .newsletter p {
    color: #9F9F9F;
    font-weight: 500;
    margin-bottom: 2.5rem;
}


.footer-nav a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    display: block;
    margin-bottom: 2rem;
    transition: color 0.3s;
}

.links p, .help p, .newsletter p {
    color: #9F9F9F;
    font-weight: 500;
    margin-bottom: 2.5rem;
}


.footer-nav a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    display: block;
    margin-bottom: 2rem;
    transition: color 0.3s;
}

.footer-nav a:hover {
    color: #B88E2F;
}

.newsletter form {
    display: flex;
    gap: 0.5rem;
    border-bottom: 1px solid #D9D9D9;
    padding-bottom: 0.2rem;
}

.newsletter input {
    border: none;
    outline: none;
    font-size: 0.9rem;
    flex: 1;
    background-color: #FFEFD5;
}

form button {
    border: none;
    background: #B88E2F;
    font-weight: 700;
    cursor: pointer;
    font-size: 0.9rem;
    padding: 0.5rem;
    border-radius: 1rem;
}



.newsletter button:hover {
    background-color: #7C6838;
    color: #FFEFD5;
    
}

hr {
    border: 0;
    border-top: 1px solid #D9D9D9;
    margin-bottom: 1.5rem;
}

p:last-child {
    font-size: 1rem;
    color: #000;
}

/* responsive */

@media (max-width: 768px) {
    .container-footer {
        width: 90%;
    }

    .information {
        gap: 1.5rem;
        flex-direction: column;
    }

    .footer-nav {
        gap: 1rem;
        flex-direction: column;
    }

    .logo-address {
        max-width: 100%;
    }

    .links, .help, .newsletter {
        width: 100%;
        display: flex;
    }
}

@media (max-width: 22.5rem) {
    .container-footer {
        width: 95%;
        text-align: center;
    }
    .information {
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }

    .logo-text {
        justify-content: center;
    }

    .footer-nav {
        flex-direction: column;
        width: 100%;
        gap: 2.5rem;
    }

    .links, .help, .newsletter {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .newsletter form {
        flex-direction: column;
        width: 100%;
        gap: 1.5rem;
    }

    .newsletter input {
        width: 100%;
        text-align: center;
    }

    hr {
        margin: 2rem 0 1rem 0;
    }
}
