@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Poppins', sans-serif;
    
}

.footer{
    display: flex;
    justify-content: center;
    width: 100%;
    height: fit-content;
    background-color: #FFEFD5;
}

.container-footer {
    width: 80%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4rem;
    align-items: center;
}

.header-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}


.logo-address {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.logo-text {
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
    
}

.logo img {
    width: 2.5rem;
    height: auto;
}

.text p {
    color: #9F9F9F;
    font-size: 1rem;
    max-width: 19rem;
}


.footer-nav {
    display: flex;
    justify-content: space-between;
    width: fit-content;
    gap:10rem;
}

.links, .help, .newsletter {
    min-width: 5rem;
    display: flex;
    flex-direction: column;
    
}

.links p, .help p, .newsletter p {
    color: #9F9F9F;
    font-weight: 500;
    margin-bottom: 2.5rem;
}


.footer-nav a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    display: block;
    margin-bottom: 2rem;
    transition: color 0.3s;
}

.footer-nav a:hover {
    color: #B88E2F;
}

.newsletter form {
    display: flex;
    gap: 0.5rem;
    border-bottom: 1px solid #D9D9D9;
    padding-bottom: 0.2rem;
}

.newsletter input {
    border: none;
    outline: none;
    font-size: 0.9rem;
    flex: 1;
    background-color: #FFEFD5;
}

.newsletter button {
    border: none;
    background: none;
    font-weight: 700;
    cursor: pointer;
    font-size: 0.9rem;
    padding: 0.1rem;
}



.newsletter button:hover {
    color: #B88E2F;
}

hr {
    border: 0;
    border-top: 1px solid #D9D9D9;
    margin-bottom: 1.5rem;
}

p:last-child {
    font-size: 1rem;
    color: #000;
}

@media (max-width: 64rem) { 
    .header-footer {
        flex-wrap: wrap; 
    }

    .logo-address {
        flex: 0 0 100%;
        margin-bottom: 2rem;
    }

    .footer-nav {
        flex: 0 0 100%;
    }
}

@media (max-width: 22.5rem) { 
    .container-footer {
        padding: 2rem 1rem;
    }

    .header-footer {
        flex-direction: column;
        gap: 3rem;
    }

    .footer-nav {
        flex-direction: column;
        gap: 2.5rem;
    }

    .newsletter form {
        flex-direction: column;
        border-bottom: none;
    }

    .newsletter input {
        border-bottom: 1px solid #000000;
        padding: 0.5rem 0;
    }

    .newsletter button {
        width: fit-content;
        margin-top: 1rem;
    }
}