<div class="header">
    <div class="header-container">
        <div class="logo">
            <a class="logo-text" href="/index.html">
                <img src="/img/logo.png" alt="img">
                Funiro
            </a>
        </div>

        <button class="mobile-menu-btn" id="mobile-menu-btn" type="button" title="Toggle menu">
            <span class="hamburger-line"></span>
            <span class="hamburger-line"></span>
            <span class="hamburger-line"></span>
        </button>

        <div class="nav" id="nav-menu">
            <a class="button" href="/index.html">Home</a>
            <a class="button" href="#">Shop</a>
            <a class="button" href="#">About</a>
            <a class="button" href="/contact/contact.html">Contact</a>
        </div>

        <div class="action">
            <a href="#" class="icon cart-trigger" title="Cart"><i class="fa-solid fa-basket-shopping"></i></a>
            <a href="#" class="icon" title="Wishlist"><i class="fa-regular fa-heart"></i></a>
            <a href="#" class="icon" title="Search"><i class="fa-solid fa-magnifying-glass"></i></a>
            <a href="/login/profile.html" class="icon" title="Profile"><i class="fa-solid fa-user"></i></a>
        </div>
    </div>
</div>