<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
    <link rel="stylesheet" href="./header.css">
</head>

<body>
    <div id="header-placeholder"></div>
    <div class="header">
        <div class="container">
            <div class="logo">
                <a class="logo-text" href="./header.html">
                    <img src="/img/logo.png" alt="img">
                    Furito
                </a>
            </div>

        <div class="nav" id="nav-menu">
            <a class="button" href="/index.html">Home</a>
            <a class="button" href="/shop/shop.html">Shop</a>
            <a class="button" href="#">About</a>
            <a class="button" href="/contact/contact.html">Contact</a>
        </div>

        <div class="action">
            <a href="#" class="icon cart-trigger" title="Cart"><i class="fa-solid fa-basket-shopping"></i></a>
            <a href="#" class="icon" title="Wishlist"><i class="fa-regular fa-heart"></i></a>
            <a href="/shop/shop.html" class="icon" title="Search"><i class="fa-solid fa-magnifying-glass"></i></a>
            <a href="/login/profile.html" class="icon" title="Profile"><i class="fa-solid fa-user"></i></a>
        </div>
    </div>
</body>