@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root{
    --button: #B88E2F;
    --button-hover: #e8d2a9;
    --button-medium-hover: #7C6838;
    --background-color: #FFEFD5;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
}
.header{
    background-color: var(--background-color);
    min-width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    padding: 0.5rem 0;

}
.logo{
    width: fit-content;
    min-height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}
.logo-text img{
    width: 3rem;
    height: 3rem;
}

.logo-text{
    text-decoration: none;
    font-weight: 750;
    font-size: 25;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav{
    width: fit-content;
    height: fit-content;
    display: flex;
    /* gap:0.5rem; */
}

.button{
    width: 4.5rem;
    min-height: 2.5rem;
    /* background-color: 	#E9967A; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 400;
    /* color: #F5FFFA; */
    color:#000000;
    cursor: pointer;
}

.button-medium{
    width: 5.5rem;
    min-height: 2.5rem;
    background-color: var(--button);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 15;
    font-weight: 200;
    color: #F5FFFA;
    cursor: pointer;
}


.action{
    height: fit-content;
    width: fit-content;
    display: flex;
    gap:0.25rem
}

.icon{
    font-size: 1.25rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    color: #000000;
    transition: all 0.3s ease;
    z-index: 1;
}


.button:hover{
    background-color: var(--button-hover);

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    color: #000000;
    transition: all 0.3s ease;
}
.button-medium:hover{
    background-color: var(--button-medium-hover);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    color: #ffffff;
    transition: all 0.3s ease;
}

.button:active, .button-medium:active {
    transform: translateY(0);
    box-shadow: none;
}

.icon:hover{
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    color: #000000;
    
}


@media (max-width: 64rem) { 
    .container {
        width: 90%;
    }

    .logo-text {
        font-size: 1.25rem;
    }

    .nav {
        gap: 0.5rem; 
    }

    .button {
        width: 4rem;
        font-size: 0.875rem; 
    }

    .action {
        gap: 0.5rem;
    }
}



@media (max-width: 22.5rem) {
    .header {
        padding: 0.3125rem 0; 
    }

    .container {
        flex-direction: column;
        gap: 8px; 
        padding: 0.3125rem 0;
    }
    .logo-text {
        font-size: 1.25rem !important;
    }
    .logo-text img {
        width: 1.5rem; 
        height: 1.5rem;
    }


    .nav {
        width: 100%;
        justify-content: center;
        gap: 0.75rem; 
    }

    .button {
        font-size: 0.75rem; 
        width: auto;
        min-height: auto;
        padding: 0.125rem 0.3125rem;
    }


    .action {
        width: 100%;
        justify-content: center;
        gap:0.75rem;
        margin-top: 0.1rem;
    }

    .icon {
        font-size: 1rem;
        width: 2rem;
        height: 2rem;
    }

    .button-medium {
        width: auto;
        min-height: 1.75rem;
        padding: 0 0.75rem;
        font-size: 0.75rem;
        background-color: var(--button);
    }
}