@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --primary-color: #B88E2F;
    --text-main: #000000;
    --text-secondary: #9F9F9F;
    --font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    color: var(--text-main);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 50px;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.navbar .nav-icons {
    display: flex;
    align-items: center;
    gap: 30px;
}

.navbar .logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar .logo img {
    max-height: 32px;
}

.hero {
    position: relative;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/heroimg.jpg');
    background-size: cover;
    background-position: center center;
    filter: blur(6px);
    transform: scale(1.1);
    z-index: -1;
}

.hero-content {
    position: relative;
    z-index: 1;
    color: #000000;
}

.hero-content h1 {
    font-size: 48px;
    font-weight: 500;
    margin: 10px 0;
}

.hero-content a {
    color: #000000;
    text-decoration: none;
    font-weight: 300;
}

.hero-content p {
     font-weight: 400;
     font-size: 16px;
}

.contact-container {
    max-width: 1200px;
    margin: 60px auto;
    padding: 0 20px;
}

.contact-header {
    text-align: center;
    margin-bottom: 80px;
}

.contact-header h2 { font-size: 36px; margin-bottom: 10px; }
.contact-header p { color: var(--text-secondary); max-width: 600px; margin: auto; }

.contact-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
}


.form-group {
    margin-bottom: 25px;
}

.form-group label {
    display: block;
    margin-bottom: 10px;
    font-weight: 500;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #9F9F9F;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
}

.form-group-message label {
    display: block;
    margin-bottom: 10px;
    font-weight: 500;
}

.form-group-message input, .form-group-message textarea {
    width: 100%;
    height: 120px;
    padding: 15px;
    border: 1px solid #9F9F9F;
    border-radius: 10px;
    margin-bottom: 25px;
    font-family: 'Poppins', sans-serif;
    resize: none;
}



.btn-submit {
    background-color: var(--primary-color);
    color: white;
    padding: 15px 80px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.features {
    background-color: #FAF3EA;
    display: flex;
    justify-content: space-around;
    padding: 100px 5%;
}

.features {
    background-color: #FAF3EA;
    display: flex;
    justify-content: space-around;
    padding: 100px 5%;
}

.feature-item {
    display: flex;
    align-items: center;
    gap: 15px;
}

.feature-item i {
    font-size: 40px;
    color: var(--text-main);
}

.feature-item h4 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}

.feature-item p {
    color: var(--text-secondary);
    font-size: 14px;
}