<head>
    <link rel="stylesheet" href="./footer.css">
</head>
<body>
    <section>
        <div class="container">
            <div class="header">
                <div class="logo-address">
                    <div class="logo">
                        <a class="logo-text" href="./header.html">
                            <img src="../img/logo.png" alt="img">
                            Furito
                        </a>
                    </div>

                    <div class="text">
                        <p>Số 12 Nguyễn Văn Bảo, P. Hạnh Thông, Thành phố Hồ Chí Minh</p>
                        <p>Ban Công Nghệ</p>
                    </div>
                </div>

                

                <div class="footer-nav">
                    <div class="links">
                        <p>Links</p>
                        <div>
                            <a href="../header/header.html">Home</a>
                            <a href="#">Shop</a>
                            <a href="#">About</a>
                            <a href="#">Contact</a>
                        </div>
                    </div>

                    <div class="help">
                        <p>Help</p>
                        <div>
                            <a href="#">Privacy Policies</a>
                            <a href="#">Help</a>
                        </div>
                    </div>


                    <div class="newsletter">
                        <p>Newsletter</p>
                        <form>
                            <input type="text" placeholder="Enter Your Email Address" >
                            <button>SUBSCRIBE</button>
                        </form>
                    </div>
                </div>
            </div>


            <hr>

            <p>&copy; 2026 furino. All rights reserved</p>

        </div>
    </section>
</body>