@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    min-width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
}
.header{
    background-color: #FFEFD5;
    min-width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;

}
.logo{
    width: fit-content;
    min-height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}
.logo-text img{
    width: 3rem;
    height: 3rem;
}

.logo-text{
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 750;
    font-size: 25;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav{
    width: fit-content;
    height: fit-content;
    display: flex;
    /* gap:0.5rem; */
}

.button{
    width: 4.5rem;
    min-height: 2.5rem;
    /* background-color: 	#E9967A; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 15;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    /* color: #F5FFFA; */
    color:#000000;
    cursor: pointer;
}

.button-medium{
    width: 5.5rem;
    min-height: 2.5rem;
    background-color: 	#E9967A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 15;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    color: F5FFFA;
    cursor: pointer;
}


.action{
    height: fit-content;
    width: fit-content;
    display: flex;
    gap:0.25rem
}

.icon{
    font-size: 1.25rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    color: #000000;
    transition: all 0.3s ease;
    z-index: 1;
}


.button:hover{
    background-color: #e8b7a7;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    color: #000000;
    transition: all 0.3s ease;
}
.button-medium:hover{
    background-color: #D2691E;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    color: #ffffff;
    transition: all 0.3s ease;
}

.button:active, .button-medium:active {
    transform: translateY(0);
    box-shadow: none;
}

.icon:hover{
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    color: #000000;
    
}